@import "./normalize.css";


/* remove these styles :) */
html { background: #210000; }
h1 {
  text-align: center;
  font-size: 3em;
  font-family: cursive;
  margin: 5em 0 0 0;
  font-style: italic;
  color: #daa520;
  text-shadow: 0px 0px 10px #daa520;
  letter-spacing: .1em;
}
/* remove these styles :) */
