@import "./normalize.css";


/* (: you can remove these styles :) */
html {
  height: 100%;
  background: #000;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  font-style: italic;
  color: #daa520;
  text-shadow: 0px 0px 10px #daa520;
  letter-spacing: .2em;
}
img { animation: pulse 5s infinite; }
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(.95); }
  100% { transform: scale(1); }
}
/* (: you can remove these styles :) */
